.product-card {
  border: 1px solid #ddd; 
  border-radius: 8px; 
  padding: 16px; 
  margin: 8px;
  width: 300px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  background-color: #ffffff; 
}

.product-card img {
  width: 100%; 
  height: auto;
  border-radius: 8px 8px 0 0; 
}

.product-card h3 {
  margin-top: 8px; 
  color: #333; 
  font-size: 1.2em; 
}

.product-card p {
  color: #666; 
  line-height: 1.5; 
  font-size: 0.9em; 
}
btn-cotizacion {
  background-color: red; /* Color de fondo rojo para el botón */
  color: white; /* Color de texto blanco */
  border: none; /* Sin bordes */
  padding: 10px 20px; /* Padding horizontal y vertical para el botón */
  border-radius: 4px; /* Bordes redondeados */
  cursor: pointer; /* Estilo del cursor para indicar que es clickeable */
  margin-top: 10px; /* Margen superior para separar del contenido de la tarjeta */
  transition: background-color 0.3s; /* Transición suave para el color de fondo */
}

.btn-cotizacion:hover {
  background-color: black; /* Color de fondo negro cuando se hace hover */
}